__pycache__/

checkpoints/common.json
checkpoints/freq-transformer.txt
checkpoints/*.pth

*.py[cod]
.DS_Store
.vscode

data
testlog.txt
assets/record
profile*
history/*
*/deprecated/
misc/
test/
.env
