__pycache__/

# Checkpoints
checkpoints/common.json
checkpoints/freq-transformer.txt
checkpoints/*.pth

*.py[cod]
.DS_Store
.vscode

# Data
data
testlog.txt
assets/record
profile*
history/
*/deprecated/
misc/
test/
.env

# Test
*.ig.*

# App
dist/
build/

# Env
v7/
